server {

    listen 8080;

    server_name pma.${WP_SITE_1};

    include     snippets/letsencrypt.conf;
    include     snippets/security.conf;

    location / {
      proxy_pass http://myadmin:80;
    }

    access_log /var/log/nginx/${WP_SITE_1}-phpmyadmin.access.log;
    error_log /var/log/nginx/${WP_SITE_1}-phpmyadmin.error.log;

}