mysql/**/
wordpress/**/
static/**/
logs/**/
certs/**/
env/**/
!**/.gitkeep
**/node_modules
nodejs/node-app/**/*.*
!node-app/**/*.js
!node-app/**/*.json
!node-app/**/*.css
!node-app/**/*.html
.idea/
**/.venv/
**/.env
**/__pycache__/



